---
layout: default
navigation: home
---

<div class="home">

  <!-- <h1 class="page-heading">{{ post.title }}</h1> -->

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% if post.image %}
          <img class="post-image" src="/images/{{ post.image }}" alt="post.image" />
        {% endif %}
        <article class="post-teaser">
          <span class="post-author">{{ post.author }}</span>
          <span class="post-meta">on {{ post.date | date: "%d/%m/%Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncate:200}}
            <a class="post-excerpt-link" href="{{ post.url | prepend: site.baseurl }}">read on</a>
          </p>
        </article>

      </li>
    {% endfor %}
  </ul>

   {% include pagination.html %}


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
