<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% if page.title %}
            {{ site.title }} | {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    
    <!-- open graph -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200}}" />
    <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}" />
    
    
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- favicon -->

    { include favicon.html }
    
</head>
