<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% if page.title %}
            {{ site.title }} | {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <link rel="apple-touch-icon-precomposed" href="images/favicon/favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/favicon-144.png">

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/favicon-152.png">
    
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/favicon-144.png">
    
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/favicon-120.png">
    
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/favicon-114.png">
    
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/favicon-72.png">
    
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/favicon-57.png">
    
    <link rel="icon" href="images/favicon/favicon-24.png" sizes="24x24">
    <link rel="icon" href="images/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="images/favicon/favicon-48.png" sizes="48x48">
    <link rel="icon" href="images/favicon/favicon-64.png" sizes="64x64">
    <link rel="icon" href="images/favicon/favicon-96.png" sizes="96x96">
    <link rel="icon" href="images/favicon/favicon-128.png" sizes="128x128">
    <link rel="icon" href="images/favicon/favicon-195.png" sizes="195x195">
    <link rel="icon" href="images/favicon/favicon-228.png" sizes="228x228">
</head>
