<!--https://css-tricks.com/responsive-menu-concepts/-->
<nav role="custom-dropdown">
    <input type="checkbox" id="button">
    <label for="button" onclick></label>
    <ul>
        <li><a class="page-link {% if page.navigation == 'home'    %}active{% endif %}" href="/"        >Home   </a></li>
        <li><a class="page-link {% if page.navigation == 'archive' %}active{% endif %}" href="/archive/">Archive</a></li>
        <li><a class="page-link {% if page.navigation == 'about'   %}active{% endif %}" href="/about/"  >About  </a></li>
    </ul>
</nav>