<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% endif %}
</div> -->

<div class="pagination">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
    {% endif %}

    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
    {% endif %}

  {% endif %}

  {% if page.next %}
    <a class="previous" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">Newer Post</a>
  {% endif %}


  {% if page.previous %}
    <a class="previous" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">Older Post</a>
  {% endif %}
</div>