@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('/assets/fonts/OpenSans-CondBold-webfont.eot');
    src: url('/assets/fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-CondBold-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-CondLight';
    src: url('/assets/fonts/OpenSans-CondLight-webfont.eot');
    src: url('/assets/fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-CondLight-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Regular-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
