/**
 * Site footer
 */
.site-footer {
    padding: 5.625em 0 4em 0;
}


.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width:         calc(70% - (#{$spacing-unit} / 2));
    line-height:.875em;
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.site-footer {
  background: $brand-color;
  color:white;
  h2 {
    font-size:1em;
    text-transform:uppercase;
  }
  p {
    font-family:sans-serif;
    line-height:1.2em;
    font-size:.75em;
  }
  @include media-query($on-palm) {
    text-align:center;
    p {
      padding:0;
    }
  }
}
// white text
.footer-col-wrapper,
.footer-col-wrapper a {
  color:white;
}

.build-with-list {
  img {
    height:2em;
  }
}

ul.build-with-list {
  margin: 0;
  li {
    display:inline;
    padding: 0 1em 0 0;
  }
}

.copyright {
  font-family: Arial, sans-serif;
  img {
    float:left;
    height:1.6em;
    padding-right:.4em;
  }

  @include media-query($on-palm) {
    margin-top:2em;
    img {
      display:none;
      float: none;
      &:first-child {
        display:block;
        height: 2.5em;
        margin: 0 auto;
        padding: 0 0 1.5em 0;
      }
    }
  }
}

