/**
 * Site header
 */
.site-header {
    border-top: 2px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}
.site-logo {
  float:left;
  padding:2.5em 0 1em 0;
  img {
  height:2.5625em;
       @include media-query($on-palm) {
      height:2.4625em;
     }
  }
}
.site-heading {
  float:left;
  padding:2.9em 0 0 0.5em;
  text-transform:uppercase;
}
.site-title {
  color:$brand-color;
  display:block;
  font-size: 23px;
  line-height: 23px;
  &:visited,
  &:hover,
  &:active {
      color: $brand-color;
      text-decoration:none;
  }
     @include media-query($on-palm) {
      font-size: 20px;
     }
}  
.site-subtitle {
  display:block;
  font-size: 13px;
  line-height: 13px;
  a, &:visited, &:hover, &:active {
    color: lighten($grey-color,20%);
    text-decoration:none;
  }
       @include media-query($on-palm) {
        font-size: 12px;
        line-height: 10px; 
       }
}

.page-link {
  display:inline;
  font-size:16px;
  line-height:16px;
  padding: .55em 1.15em;
  color: $brand-color;
  text-decoration:none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  &:visited {
    color: $brand-color;
  }
  &:hover {
    border-color: $brand-color;
    text-decoration:none;
  }
  &:active {
    @extend .active;
  };
}
.site-nav .active {
  background:$brand-color;
  border-color: $brand-color;
  color:white;
}
.bordered {

  color: $brand-color;

}

/**
 * Site navigation
 */
.site-nav {
    float: right;
    line-height: 35px;
    padding-top:3em;
    text-transform: uppercase;
    .menu-icon {
        display: none;
    }
    .page-link {
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 2.8125em;
        right: 0.9375em;
        padding-top:0;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $brand-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
