/**
 * Site header
 */
.site-header {
    border-top: 2px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}
.site-logo {
  float:left;
  padding:2em 0 2em 0;
  img {
  height:2.5625em;
       @include media-query($on-palm) {
      height:2.4625em;
     }
  }
}
.site-heading {
  float:left;
  padding:2.4em 0 0 0.5em;
  text-transform:uppercase;
}
.site-title {
  color:$brand-color;
  display:block;
  font-size: 23px;
  line-height: 23px;
  &:visited,
  &:hover,
  &:active {
      color: $brand-color;
      text-decoration:none;
  }
     @include media-query($on-palm) {
      font-size: 20px;
     }
}  
.site-subtitle {
  display:block;
  font-size: 13px;
  line-height: 13px;
  a, &:visited, &:hover, &:active {
    color: lighten($grey-color,20%);
    text-decoration:none;
  }
       @include media-query($on-palm) {
        font-size: 12px;
        line-height: 10px; 
       }
}

