/**
 * Page content
 */
.page-content {
  font-family: $text-font-family;
  .wrapper {
    border: 1px solid $brand-color;
    border-radius: 5px;
    // spread into banner and footer
    position:relative;
    padding: 3.75em 3.75em 3.75em 3.75em;
    margin: -3.75em auto;
    @include media-query($on-laptop) {
        padding: 3.75em 1.75em;
        margin-left: .5em;
        margin-right: .5em;
    }
  }
}

.page-heading {
    font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
      margin-bottom: $spacing-unit;
      clear:both;
      &:after {
        content:'';
        display:table;
        width:100%;
        background: #4FB56E;
        height:1px;
        margin: 2em 0;
      }
  }
}
.post-author,
.post-meta {
    font-size: 12px;
    color: $text-color;
}
.post-teaser {
}
.post-link {
    display: block;
    line-height:1em;
    text-transform: uppercase;
    font-family: OpenSans-CondBold,sans-serif;
}
.post-image {
  margin: 0 1em 1em 0;
  border:1px solid $grey-color-light;
  max-width:300px;
  float:left;
}
@include media-query($on-palm) {
  .post-image {
    float:none;
    max-width: 100%;
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    color: #4fb56e;
    font-family: OpenSans-CondBold;
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 6px;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    // margin-bottom: $spacing-unit;
    h1 {
        color: #4fb56e;
    }
    h2 {
        color: #4fb56e;
        font-size: 1.0em;
        }
    h3 {
        color: #4fb56e;
        font-family: OpenSans-CondBold;
        font-size: 35px;
        letter-spacing: -1px;
        line-height: 1;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    h5 {
        color: #4fb56e;
    }
    h6 {
        color: #4fb56e;
    }
}
