/**
 * Site navigation
 * mostly copied from: Advanced Checkbox Hack http://timpietrusky.com/advanced-checkbox-hack 
*/

body { 
    -webkit-animation: bugfix infinite 1s; 
}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label { 
  display:none;
  cursor: pointer;
  user-select:none;
}
/* custom-dropdown: navigation */
nav[role="navigation"] {
  position:relative;
  width: 100%;
    
  a,
  label {
    color:$brand-color;
    text-decoration:none;
    -webkit-tap-highlight-color:transparent
  }
  
  ul {
    padding: 2.4em 0 0 0;  
    margin: 0 auto;  
    list-style:none;
    
    > li {
      float:right;
      padding:.55em 0;
      text-align:center;
      cursor: pointer;
      margin-left: .5em;
    }
  }
}

/* small screens */
@include media-query($on-palm) {

  nav[role="navigation"] {
    ul {
      display:none;
      height:100%;
    }

    label {
      position:relative;
      display:block;
      min-height:2.25em;
      font-size: 1.7125em;
      top: 14px;
      right:-14px;
    }
    label:after {
      position: absolute;
      right: .25em;  
      top: 0; 
      content:"\2261";
      font-size:1.8125em;
    }
        
    input[type=checkbox]:checked ~ ul {
      display:block;
      background-color: white;
    //   position: fixed; // macht scroll probleme
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      border: 0;
      z-index: 1;
      top: 6.5em;
      left: 0;
      opacity: 0.9;  
      > li {
        width:100%;
        opacity:.9;
        // text-align:center;
        &:hover {
            background: $brand-color;
            a {
            color: #fff;
            }
        }
        &:last-child {
              margin: 0 0 2em 0;
        }
        .page-link {
            border:none;
        }
        a {
            display:inline-block;
        }
      }        
    }
  }
}

.page-link {
  display:inline;
  font-size:16px;
  line-height:16px;
  padding: .55em 1.15em;
  color: $brand-color;
  text-decoration:none;
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 8px;
  &:visited {
    color: $brand-color;
  }
  &:hover {
    border-color: $brand-color;
    text-decoration:none;
  }
  &:active {
    @extend .active;
  };
}
a.page-link.active {
  background:$brand-color;
  border-color: $brand-color;
  color:white;
}
.bordered {
  color: $brand-color;
}